name: Java CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean compile -Denv=common

      - name: Test with Maven
        run: mvn -B test -Denv=common

      - name: Package JAR
        run: mvn -B package -Denv=common -DskipTests

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: SimpleImg
          path: target/SimpleImg-*.jar